
<header>
  <div class="collapse bg-dark" id="navbarHeader">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-md-7 py-4">
          <h4 class="text-white">About</h4>
          <p class="text-muted">Add some information about the album below, the author, or any other background context. Make it a few sentences long so folks can pick up some informative tidbits. Then, link them off to some social networking sites or contact information.</p>
        </div>
        <div class="col-sm-4 offset-md-1 py-4">
          <h4 class="text-white">Contact</h4>
          <ul class="list-unstyled">
            <li><a href="#" class="text-white">Follow on Twitter</a></li>
            <li><a href="#" class="text-white">Like on Facebook</a></li>
            <li><a href="#" class="text-white">Email me</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="navbar navbar-dark bg-dark box-shadow">
    <div class="container d-flex justify-content-between">
      <a href="#" class="navbar-brand d-flex align-items-center">
        <img width="50" alt="Moore Corporation Logo" src="/assets/MCorp.png">
        <!-- <strong style="margin-left: 10px;">Moore Corporation</strong> -->
      </a>
      <nav class="nav nav-masthead justify-content-center">
          <a class="nav-link active" href="#" routerLink="/home">Home</a>
          <!-- <a class="nav-link" href="#"routerLink="/contact">Contact</a> -->
        </nav>
      <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button> -->
    </div>
  </div>
</header>

<main role="main">
  <section class="jumbotron text-center">
    <div class="container">
      <h1 class="jumbotron-heading" style="color:#333">Moore Corporation</h1>
      <p class="lead text-muted">We are the parent company to a wide variety of companies. Our goal is to innovate and work in industries that we enjoy. Whether that be video games, sports, or just being ourselves. We think we have some great ideas and just want to share them with the world. Visit our sites below to learn more about the work we are doing in that industry.</p>
    </div>
  </section>

  <div class="album py-5 bg-light">
    <div class="container">

      <div class="row">
        <div class="col-md-4">
          <div class="card mb-4 box-shadow">
            <img class="card-img-top" alt="Thumbnail" style="height: 225px; width: 100%; display: block; background-color:#333;" src="/assets/lightningbolt.png" data-holder-rendered="true">
            <div class="card-body">
              <p class="card-text">Gaming is one of our biggest passions. Play, Watch, Create. We do it all at J4 Game studios.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="http://www.j4gamestudios.com" class="btn btn-sm btn-outline-secondary" >Visit</a>
                </div>
                <small class="text-muted">J4 Game Studios</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 box-shadow">
            <img class="card-img-top" width="100px;" alt="Thumbnail" src="/assets/Wolf.png" data-holder-rendered="true" style="height: 225px; width: 100%; display: block; background-color:darkred;">
            <div class="card-body">
              <p class="card-text">From sports merchandise to training, Alpha Wolf Sports will help gide you to become the leader of the pack.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="http://www.alpha-wolves.com" class="btn btn-sm btn-outline-secondary">Visit</a>
                </div>
                <small class="text-muted">Alpha Wolf Sports</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 box-shadow">
            <img class="card-img-top" alt="The Fellas" src="/assets/TheFellas_White.png" data-holder-rendered="true" style="height: 225px; width: 100%; display: block; background-color:purple;">
            <div class="card-body">
              <p class="card-text">If you could use a laugh then look no further. The Fellas are a group of friends that constantly roasting each other.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="http://www.the-fellas.com" class="btn btn-sm btn-outline-secondary">Visit</a>
                </div>
                <small class="text-muted">The Fellas</small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</main>

<footer class="text-muted">
  <div class="container">
    <p>Moore Corporation</p>
    <a href="mailTo:ContactUs@moore-corporation.com">ContactUs@moore-corporation.com</a>
  </div>
</footer>
